@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-fade-in: fadeIn 0.5s ease-in;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  input[type],
  textarea,
  select {
    @apply appearance-none border-none ring-0 outline-hidden;

    &:focus {
      @apply border-none ring-0 outline-hidden;
    }

    &:focus-visible {
      @apply border-none ring-0 outline-hidden;
    }
  }

  button {
    @apply cursor-pointer;
  }
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
